
#EmuContainer:not(fullscreen) {
    position: relative;
    aspect-ratio: 4/3;
    width: 100%;
    height: auto;
    background-color: #000000;
}

#EmuContainer:fullscreen {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

#EmuContainer:not(fullscreen) > div > canvas {
    position: relative;
    aspect-ratio: 4/3;
    width: 100%;
    height: auto;
}

#EmuContainer:fullscreen  > div > canvas {
    max-width: calc(100vh / 3 * 4);
    width: 100%;
    height: auto;
}

#EmuDisplayColumn {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

.EmuOverlay {
    position: absolute;
}


.EmuOverlayCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
