body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
    
    color: #3399ff;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: #9966ff;
    background-color: transparent;
    text-decoration: underline;
}

/* From https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link */
.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-size: 1em;
  color: #3399ff;
  text-decoration: underline;
  cursor: pointer;
}

.input-device {
    font-size: 16px;
    color: green;
}

.connection-state-message {
    font-size: 16px;
    color: green;
}

.connection-state-error {
    color: red;
}

